<!DOCTYPE>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
		<p></p>
	</head>
<body>
<h1>PSample App</h1>
<p>This is the home page for the ROR tutorial by Michael Hartl</p>
</body>
</html>